#navbar {
  flex-direction: column;
  justify-content: center;
}

#navbar a {
  display: inline;
}

/* hero section */
#hero p {
  font-size: 1rem;
}

.btn-primary {
  padding: 0;
}

/* services section */
#services {
  flex-direction: column;
}

#services .box {}

/* clients section */

/* contact section */